.numbers{
  margin-top: 100px;
background: #34547A;
height: 250px;
display: flex;
justify-content: center;

}

.number-item{
  width: 141px;
  height: 50px;
  margin-top: 100px;
  cursor: pointer;
  margin-right: 50px;
}
